
		<!-- Theme style -->
        <link rel="stylesheet" href="content/BackEnd/dist/css/adminlte.min.css">
        <link rel="stylesheet" href="content/Custom/User.css">

        <div class="hold-transition sidebar-mini layout-fixed">
          <div class="wrapper">
            <!-- Navbar -->
            <div ng-include="'views/BackEnd/admin/layouts/top-nav.html'"></div>
            <!-- /.navbar -->
            <!-- Main Sidebar Container -->
        
            <div ng-include="'views/BackEnd/admin/layouts/sidebar.html'"></div>
            
        
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
              <!-- Content Header (Page header) -->
              <div class="content-header">
                <div class="container-fluid">
                  <div class="row mb-2">
                    <div class="col-sm-6">
                      <h1 class="m-0 text-dark">User Manage</h1>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                      <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="">Home</a></li>
                        <li class="breadcrumb-item active">User Details</li>
                      </ol>
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
              </div>
              <!-- /.content-header -->
        
              <!-- Main content -->
              
              
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">User Information</h3><br>
                      <a href="#!adduser"  class="btn btn-success">Add New User</a>
            
                      <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                          <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
            
                          <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                      <table class="table table-hover text-nowrap">
                        <thead>
                          <tr >
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>DOB</th>
                            <th>Type</th>
                            <th>AC Status</th>
                            <th>Verification</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{user.userName}}</td>
                            <td>{{user.userEmail}}</td>
                            <td>{{user.userPhone}}</td>
                            <td>{{user.userDOB | date : "EEEE, MMMM d, y,h:mm a"}}</td>
                            <td>{{user.role_roleName}}</td>
                            <td class="userStatus-{{user.isActive}}">{{user.isActive==1 ? 'active' : 'deactive'}}</td>
                            <td class="userVerify-{{user.isVerified}}">{{user.isVerified==1 ? 'ok' : 'not'}}</td>

                          </tr>

                        </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
              </div>
              
              
              <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <div ng-include="'views/BackEnd/admin/layouts/footer.html'"></div>
        
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
              <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
          </div>


        
        </div>

 
 <!-- page script -->    

